<%- contentFor('title') %>Home
<%- contentFor('body') %>

       <a href="/Home">Home</a>
       <a href="/school">School</a>
       <h1>Hello Dynamic World!</h1>



        <h1>Raymond Huang</h1> 
        <p><b>&nbsp Three facts about me:</b></p>

        <ul>
             <li>I enjoy going to the gym</li>
             <li>I want to become a full stack developer</li>
             <li>I've recently developed an interest in airsoft sport</li>
        </ul>
     
         
        

      
 


