<%- contentFor('title') %>Home
<%- contentFor('body') %>
<h1>Hello Dynamic World!</h1>


<h1>Welcome to San Francisco State University</h1>
<p>I am a computer science major at San Francisco State University.</p>